<style type="text/css" media="screen">
	form { 
		width: 100%; 
		max-width: 300px; 
	}

	input[type=text],
	textarea
	 { 
	 	display: block;  
	 	width: 100%;
	 }	
</style>
<form action="{{ url_for('register_membership') }}" method="POST" accept-charset="utf-8">
	<input type="text" name="firstname" value="" placeholder="Fornavn">
	<input type="text" name="lastname" value="" placeholder="Etternavn">
	<input type="text" name="email" value="" placeholder="Epost">
	<input type="text" name="sex" placeholder="Kjønn">
	<input type="date" name="birthdate" value="" placeholder="Fødselsdato">
	<textarea name="address" placeholder="Addresse"></textarea>
	<p> Jeg samtykker på at informasjon er korrekt og å bli medlem </p>
	<input type="checkbox" name="samtykke" value="1" >
	<input type="submit" name="" value="Bli Medlem">
</form>